html {
  /* font-size: 18px; */
  font-size: clamp(100%, 100% + 0.666vw, 150%);
}

body {
  background-color: #eeeeee;
  margin: 0;
  scroll-behavior: smooth;
  min-width: clamp(360px, 100vw, 900px);
}

section {
  position: relative;
  width: 100%;
  /* min-height: 100vh; */
  min-height: calc(var(--vh, 1vh) * 100);
  display: flex;
  flex-direction: column;
  font-family: "Merriweather", serif;
  font-size: 0.8em;
  margin: auto;
  z-index: 100;
  cursor: default;
}

section h1 {
  margin: auto;
  font-family: "Berkshire Swash", serif;
  font-size: calc(2rem + 1vw);
  text-shadow: 0 0 5px #cccccc;
  text-align: center;
}

section address {
  margin: 2rem 0;
  text-align: center;
  font-size: 1rem;
}

section p {
  line-height: 1.6;
  /* padding: 0 1rem; */
}

section quot {
  line-height: 1.6;
  display: block;
  font-style: italic;
  margin: 0 2rem;
}

a.tonext {
  padding: 2rem 0;
  margin: auto;
  font-size: 1.5rem;
  color: #ccc;
}

a.tonext:hover {
  color: red;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-grow: 1;
  height: 100%;
  margin: auto;
  justify-content: center;
  /* margin: 0 2rem; */
  flex-basis: clamp(360px, 80vw, 100%);
  min-width: clamp(360px, 80vw, 100%);
  max-width: clamp(360px, 80vw, 100%);
}

.image {
  /* flex-basis: clamp(200px, 20vw, 400px);
  min-width: clamp(200px, 20vw, 400px);
  max-width: clamp(200px, 20vw, 400px); */
  /* padding: 2rem 0; */
  margin: auto;
}

section img {
  /* FIXME! */
  width: clamp(200px - 2rem, 20vw, 400px);
  height: max(200px, 50vh);
}

section img.fullwidth {
  width: 70vw;
}

.content {
  margin: auto;
  padding: 0 2rem;
  flex-basis: clamp(360px - 2rem, 70vw, 800px);
  min-width: clamp(360px - 2rem, 70vw, 800px);
  max-width: clamp(360px - 2rem, 70vw, 800px);
}

section img {
  margin: auto;
}

.firstcharacter {
  float: left;
  font-size: 2.5rem;
  line-height: 1;
  padding-right: 0.25rem;
  font-weight: 700;
}

.red {
  color: #c21212;
}

header {
  z-index: 1000;
  position: fixed;
  right: min(320px, 15%);
  display: flex;
  background: white;
  background: rgba(255, 255, 255, 0.9);
}

header a {
  display: flex;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  justify-content: center;
  transition: all 0.3s ease;
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

header i {
  align-items: center;
}

header a:hover {
  background-color: #000;
  color: white;
}

header img {
  width: 80%;
}

header img:hover {
  -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
  filter: invert(1);
}

.epilogue {
    font-size: 0.7em;
    font-family: 'Open Sans', sans-serif;
}

.content a {
    color: #c21212;
    font-weight: 700;
    text-decoration: none;
    font-family: "Berkshire Swash", serif;
    /* font-size: 0.9rem; */
}

.content a:hover {
    text-shadow: 0 0 2px #cccccc;
}

.epilogue a {
    font-family: "Open Sans", sans-serif;
}

.epilogue .content {
    width: clamp(360px - 2rem, 30vw, 800px);
    min-width: clamp(360px - 2rem, 30vw, 800px);
    max-width: clamp(360px - 2rem, 30vw, 800px);
}
