html {
  /* font-size: 18px; */
  font-size: clamp(100%, 100% + 0.666vw, 150%); 
}

body {
  background-color: #eeeeee;
  margin: 0;
  scroll-behavior: smooth;
  min-width: clamp(360px, 100vw, 900px);
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Merriweather", serif;
  font-size: 0.8em;
  margin: auto;
  z-index: 100;
}

section h1 {
  margin: auto;
  font-family: "Berkshire Swash", serif;
  font-size: calc(2rem + 1vw);
  text-shadow: 0 0 5px #cccccc;
  text-align: center;
}

section address {
  margin: 2rem 0;
  text-align: center;
  font-size: 1rem;
}

section p {
  line-height: 1.6;
  /* padding: 0 1rem; */
}

section quot {
    line-height: 1.6;
    display: block;
    font-style: italic;
    margin: 0 2rem;
    white-space: pre-line;
}

a.tonext {
  padding-bottom: 2rem;
  margin: auto;
  font-size: 1.5rem;
  color: #ccc;
}

a.tonext:hover {
  color: red;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-grow: 1;
  height: 100%;
  margin: auto;
  justify-content: center;
  /* margin: 0 2rem; */
  flex-basis: clamp(360px, 80vw, 100%);
  min-width: clamp(360px, 80vw, 100%);
  max-width: clamp(360px, 80vw, 100%);
}

.image {
  /* flex-basis: clamp(200px, 20vw, 400px);
  min-width: clamp(200px, 20vw, 400px);
  max-width: clamp(200px, 20vw, 400px); */
  padding: 2rem 0;
  margin: auto;
}

section img {
  width: clamp(200px - 2rem, 20vw, 400px);
  height: 75vh;
}

.content {
  margin: auto;
  padding: 0 2rem;
  flex-basis: clamp(360px - 2rem, 70vw, 800px);
  min-width: clamp(360px - 2rem, 70vw, 800px);
  max-width: clamp(360px - 2rem, 70vw, 800px);
}

section img {
  margin: auto;
}

.firstcharacter {
  float: left;
  font-size: 2.5rem;
  line-height: 1;
  padding-right: 0.25rem;
}

.red {
  color: red;
}

header {
  z-index: 1000;
  position: fixed;
  right: min(320px, 15%);
  display: flex;
  background: white;
}

header a {
  display: flex;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  justify-content: center;
  transition: all 0.3s ease;
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

header i {
  align-items: center;
}

header a:hover {
  background-color: #000;
  color: white;
}

header img {
    width: 1rem;
}

footer {
    position: fixed;
    z-index: 1000;
    left: 50%;
    bottom: 1rem;
    color: #ccc;
}



/* .facebook {
  
  color: black;
}

.twitter {
  background: white;
  color: black;
} */
