html,
body {
  background-color: #eeeeee;
  margin: 0;
  scroll-behavior: smooth;
  font-size: clamp(2.3rem, 5vw, 2.5rem);
  /* font-size: clamp(1rem, 0.5454545455rem + 2.2727272727vw, 2rem); */
}

/* header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  scroll-behavior: smooth;
} */

section h1 {
  margin: auto;
  font-family: "Berkshire Swash", serif;
  font-size: 2rem;
  z-index: 10;
  text-shadow: 0 0 5px #cccccc;
  text-align: center;
  /* flex: 1; */
  /* min-width: 100%; */
}

section address {
    margin: 2em 0;
    text-align: center;
    font-size: 0.6rem;
  }

a.tonext {
  padding: 2em;
  /* position: absolute; */
  /* bottom: 1em;
  left: 50vw; */
  margin: auto;
  
  font-size: 1rem;
  color: #ccc;
}

a.tonext:hover {
  color: red;
}

section {
  position: relative;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  font-family: "Merriweather", serif;
  font-size: 0.6rem;
  margin: auto;
}

section p {
  line-height: 1.6;
  padding: 0 1em;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-grow: 1;
  height: 100%;
  margin: auto;
  justify-content: center;
  padding: 2em;
}

.image {
  flex-basis: clamp(200px, 30vw, 400px);
  min-width: clamp(200px, 30vw, 400px);
  max-width: clamp(200px, 30vw, 400px);
  margin: auto;
}

.content {
  margin: auto;
  flex-basis: clamp(480px, 70vw, 900px);
  min-width: clamp(480px, 70vw, 900px);
  max-width: clamp(480px, 70vw, 900px);
}

section img {
  margin: auto;
  /* margin: 1em; */
  /* overflow: auto; */
  /* flex: 1; */
  /* max-height: 100%; */
}

.firstcharacter {
  float: left;
  font-size: 1.9rem;
  line-height: 1;
  padding-right: 0.1em;
}

.red {
  color: red;
}
